stages:
  - pre
  - build
  - lint
  - test
  - report
  - docs

workflow:
   name: $PIPELINE_WORKFLOW_NAME

build-ci-env:
  stage: build
  needs: []
  tags:
  - docker
  extends:
    - .earth2studio:build-env:base
    - .build-env:cache
  script:
    - make setup-ci

format:
  stage: lint
  needs:
    - job: build-ci-env
      artifacts: false
  tags:
  - docker
  extends:
    - .earth2studio:test:base
    - .lint:cache
  script:
    - ls
    - make format

lint:
  stage: lint
  needs:
    - job: build-ci-env
      artifacts: false
  tags:
  - docker
  extends:
    - .earth2studio:test:base
    - .lint:cache
  script:
    - make interrogate
    - make lint
    - make license

test:
  stage: test
  needs:
    - job: format
      artifacts: false
    - job: lint
      artifacts: false
  tags:
  - docker
  extends:
    - .earth2studio:test:base
  retry:
    max: 2
    exit_codes: 123
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $PIPELINE_REPO_SOURCE != "github"'
      variables:
        TESTMON_CACHE_POLICY: pull-push
        EARTH2STUDIO_CACHE_POLICY: pull-push
        UV_CACHE_POLICY: pull-push
    - if: $PIPELINE_REPO_SOURCE != "github"
      variables:
        EARTH2STUDIO_CACHE_POLICY: pull-push
        UV_CACHE_POLICY: pull-push
    - when: on_success
  script:
    - uv run python test/_ci/check_gpu.py || exit $?
    - make pytest-ci

coverage:
  stage: report
  allow_failure: true
  needs:
    - job: test
      artifacts: true
      optional: false
  tags:
  - docker
  extends:
    - .earth2studio:test:base
    - .coverage:cache
  script:
    - ls -a
    - make setup-ci
    - make coverage 2>&1 | tee ../blossom.log

include:

  - project: 'modulus/modulus-ci'
    ref: main
    file: '.gitlab-ci/earth2studio/common.gitlab-ci.yml'
