stages:
  - pre
  - build
  - lint
  - test
  - report
  - docs

workflow:
   name: $PIPELINE_WORKFLOW_NAME

build-ci-env:
  stage: build
  needs:
    - job: github-clone
      artifacts: false
      optional: true
    - job: gitlab-clone
      artifacts: false
      optional: true
  tags:
  - docker
  extends:
    - .earth2studio:build-env:base
    - .build-env:cache
  script:
    - make setup-ci

format:
  stage: lint
  needs:
    - job: build-ci-env
      artifacts: false
  tags:
  - docker
  extends:
    - .earth2studio:test:base
    - .lint:cache
  script:
    - ls
    - make format

lint:
  stage: lint
  needs:
    - job: build-ci-env
      artifacts: false
  tags:
  - docker
  extends:
    - .earth2studio:test:base
    - .lint:cache
  script:
    - make interrogate
    - make lint
    - make license

test:
  stage: test
  needs:
    - job: format
      artifacts: false
    - job: lint
      artifacts: false
  tags:
  - docker
  extends:
    - .earth2studio:test:base
  variables:
    XLA_PYTHON_CLIENT_ALLOCATOR: platform
    XLA_PYTHON_CLIENT_PREALLOCATE: false
    # https://docs.jax.dev/en/latest/gpu_memory_allocation.html
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      variables:
        TESTMON_CACHE_POLICY: pull-push
    - when: on_success
  script:
    - make pytest 2>&1 | tee ../pytest.log.full
    - grep -A 9999 "=.*short test summary info.*=" ../pytest.log.full > ../blossom.log
    - rm ../pytest.log.full

coverage:
  stage: report
  needs:
    - job: pytest
      artifacts: true
      optional: true
  tags:
  - docker
  extends:
    - .earth2studio:test:base
    - .coverage:cache
  script:
    - ls -a
    - make setup-ci
    - make coverage 2>&1 | tee ../blossom.log

include:

  - project: 'modulus/modulus-ci'
    ref: main
    file: '.gitlab-ci/earth2studio/common.gitlab-ci.yml'

  - project: 'modulus/modulus-ci'
    ref: main
    file: '.gitlab-ci/pull.gitlab-ci.yml'
